# Insert Chat ID and Bot Token according to Telegram API
export TELEGRAM_CHAT_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export TELEGRAM_BOT_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Insert webhooks for home assistant (use more hard-to-guess names for your webhooks)
export HA_WEBHOOK="http://192.168.1.24:8123/api/webhook/LockUnlockCatFlapNow"

# TOKEN for HA REST
export HA_REST_URL="http://192.168.1.24:8123/api/states/sensor.cat_flap_sureflap"
export HA_REST_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" # create this in HA first

export SUREPY_DEVICE_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export SUREPY_EMAIL="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export SUREPY_PASSWORD="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export SUREPY_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX or `cat ~/.surepy.token`"
